body {
    font-family: 'Arial', sans-serif;
    display: flex;
    background-image: url('C:/Users/aakash/Desktop/SathwikChebrolu OneDrive/OneDrive/Pictures/Saved Pictures/bg_for_landingPage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.password-container {
    margin-top: 20px;
}

input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}


